.friend-request {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    gap: 0.625rem;
}

.friend-request__image {
    width: 3.125rem;
    height: 3.125rem;
    object-fit: cover;
    border-radius: 50%;
}

.friend-request__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 0.75rem;
    font-weight: bold;
    border-bottom: 0.5px solid #f1f1f1;
}

.friend-request__info p:nth-child(2) {
    font-size: 0.7rem;
    color: rgb(190, 190, 190);
}

.friend-request__actions {
    display: flex;
    justify-content: center;
    gap: 0.625rem;
    align-items: center;
}

.friend-request__button {
    font-size: 2rem;
    transition: transform 350ms;
}

.friend-request__button:first-child {
    color: #4ade80;
}

.friend-request__button:last-child {
    color: #f43f5e;
}

.friend-request__button:hover {
    transform: scale(0.9);
}